<section class="faq">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Privacy Policy</h3>
                <p><strong>Last Updated on January 10, 2024</strong></p>
                <p>Grand River Enterprises Six Nations Ltd. (“Company”, “we”, “our” or “us”) respects your privacy and
                    is committed to protecting it.</p>
                <p>This Privacy Policy outlines our practices for handling information and data we receive from you
                    through the use of our website, www.sagobrands.ca including any content, functionality or services
                    offered through our website or related landing pages (collectively, “Site”) unless otherwise stated
                    herein. In this Privacy Policy “you” or “your” refers to any individual who accesses our Site.</p>

                <h4>PLEASE READ THIS PRIVACY POLICY CAREFULLY BEFORE USING OUR WEBSITE</h4>
                <p>By using our Site or by clicking to accept or agree to the Terms of Use and Privacy Policy when this
                    option is made available to you, you expressly accept and agree to be bound and abide by this
                    Privacy Policy. If you do not agree to the Privacy Policy, you must not access or use our Site or
                    Services.</p>

                <p>This Privacy Policy sets out how we collect information from you when you visit our Site, either
                    automatically, or through certain voluntary actions you may take while visiting our Site, including
                    but not limited to, accessing, purchasing or downloading any products, content or resources
                    available on our Site or engaging or interacting with us through this Site (collectively,
                    “Services”).</p>

                <p><strong>This Privacy Policy applies to information we collect:</strong></p>
                <ul>
                    <li>On this Site;</li>
                    <li>In email, text and other electronic messages between you and this Site;</li>
                    <li>When you interact with us, our advertising and applications on third party websites and services
                        if those applications or advertising include links to this Privacy Policy.</li>
                </ul>

                <p>This Privacy Policy does not apply to information collected by:</p>
                <ul>
                    <li>Us offline or through any other means, including on any other website operated by us, or any
                        third party including our affiliates and subsidiaries; or</li>
                    <li>Any third party including through any content or advertising that may be linked to or be
                        accessible from or on the Site.</li>
                </ul>

                <p>This Privacy Policy also sets out how we use and disclose your information and your rights with
                    respect to your personal information that we collect.</p>

                <h4>INFORMATION WE COLLECT</h4>
                <p>We collect certain types of information from you when you visit our Site. By accepting this Privacy
                    Policy, you are expressly consenting to our collection, use, processing and sharing of information
                    as described below.</p>
                <p><strong>Here are some examples of the data we may collect. However, this may not be a complete
                        list:</strong></p>
                <ul>
                    <li><strong>Personal Information:</strong> Personal identifying information such as your name, date
                        of birth, telephone numbers, email addresses, and other demographic information, such as your
                        age and gender.</li>
                    <li><strong>Computer, Browser and Mobile Information:</strong> Computer and connection information
                        such as statistics on your page views, traffic to and from the Site, your unique resource
                        locator (“URL”), advertisement data, your internet protocol (“IP”) address, your browsing
                        history, and your Site log information. If you access our Site via your mobile phone, we may
                        collect information about your device, including but not limited to, the model, manufacturer,
                        device identification and your location information.</li>
                </ul>

                <h5>Sensitive Information</h5>
                <p>We will not request sensitive information from you at any time. Please do not submit any sensitive
                    data to us, including your social security number, health data, genetic data, or information related
                    to your ethnic origin, religious beliefs, or criminal history. If you do send us this information,
                    then by doing so you are consenting to our use, storage, and processing of this information in
                    accordance with this Policy.</p>

                <h4>HOW WE COLLECT YOUR INFORMATION</h4>
                <h5>Information You Voluntarily Provide</h5>
                <p>We collect information you voluntarily and manually provide when you use our Site, such as when you
                    access Services or certain content on our Site, sign up for our email list or newsletter, submit an
                    order or other form, send us questions, or interact with us through this Site such as when you
                    provide comments or feedback. Some of the information you manually provide may be personal
                    information, such as your name or email address.</p>

                <h5>Information from Your Website Browser or Mobile Device</h5>
                <p>We collect information that is sent to us automatically from your website browser or mobile device,
                    such as your IP address, the name of your operating system, the name and version of your browser,
                    date and time of your visit, page(s) you visit and length of time you spent on each page. The
                    information we receive may depend on your browser or device settings. Information received from your
                    website browser and mobile device typically is not, in and of itself, personally identifiable.
                    However, we may combine it with other information in an attempt to identify you, or we may combine
                    it with information that does identify you.</p>

                <h5>Tracking Technologies</h5>
                <p>We collect information when you visit our Site and through our email communications, by using
                    cookies, pixels, website beacons, tags, and other tracking technologies to collect information about
                    your engagement, as well as your browsing and purchasing behaviour. These tracking technologies
                    include:</p>
                <ul>
                    <li><strong>Clickstream Data:</strong> Through Site access logs we collect your URL, clickstream
                        data and HTTP protocol elements, which generate certain kinds of non-identifying Site usage
                        data, such as the number of hits and visits to the Site. This information is used for internal
                        purposes for research and development, user analysis and business decision making, all of which
                        provides better services to our users. The statistics garnered, which contain no personal
                        information and cannot be used to gather such information, may also be provided to third-parties
                        for data processing and analyzing.</li>
                    <li><strong>Cookies:</strong> Cookies collect data sent to us by your computer about (i) the way you
                        interact with our Site, such as when you use certain features or download attachments; (ii)
                        collect data to assess and improve our marketing and advertising; (iii) allow partners and
                        third-parties to use these tracking technologies to track your use of our Site, including on
                        multiple devices; (iv) collect statistical data such as how long you stay on a certain webpage
                        on our Site and the location from where you access our Site. All of this information helps us to
                        improve the Services, provide content based on the interests of our users and improve the
                        functionality of our Site. Most browsers are set to accept cookies by default. In addition, when
                        you first encounter our Site, you will be asked to “consent to cookies.” If you wish to disable
                        cookies, you may do so through your individual browser options. However, this may affect your
                        ability to use or make purchases from our Site. More detailed information about cookie
                        management with specific website browsers can be found at the browsers’ respective websites.
                    </li>
                    <li><strong>Website Beacons or Pixels:</strong> These are small graphics that help us understand
                        browsing activity and provide a better user experience. Unlike cookies, website beacons and
                        pixels are non-identifiable when you visit a website page.</li>
                    <li><strong>Social Widgets:</strong> These buttons are provided by third-party social media
                        providers that allow you to interact and access certain social media services when you view a
                        page on our Site. These widgets may collect browsing data, which may be sent to the respective
                        third-party social media provider.</li>
                    <li><strong>Third Party Software:</strong> We may use third-party software to post advertisements on
                        our Site to oversee marketing or email campaigns, or manage other business initiatives. This
                        third-party software may use cookies or similar tracking technology. We have no control over
                        these third parties or their use of cookies.</li>
                </ul>

                <h5>Third-Party Use of Cookies and Other Tracking Technologies</h5>
                <p>Some content or applications, including advertisements on our Site are served by third-parties,
                    including advertisers, ad networks and/or servers, content providers, and application providers.
                    These third parties may use cookies alone or in conjunction with web beacons or other tracking
                    technologies to collect information about you when you use our website. The information they collect
                    may be associated with your personal information or they may collect information, including personal
                    information, about your online activities over time and across different websites and other online
                    services. They may use this information to provide you with interest-based (behavioral) advertising
                    or other targeted content.</p>
                <p>We do not control these third parties’ tracking technologies or how they may be used. If you have any
                    questions about an advertisement or other targeted content, you should contact the responsible
                    provider directly.</p>

                <h5>Ability to OPT-OUT of Tracking</h5>
                <p>We also may use the above-mentioned technologies to collect information about your online activities
                    over time and across third-party websites or other online services (behavioral tracking). We respect
                    your decision if you want to opt-out of tracking for this website. If you choose to opt-out some
                    features of this Site, or future features of this Site may not work properly. For example, you may
                    not be able to share content from our Site to social media sites etc. If you would like to Opt-Out
                    of tracking or just want more information about how to do that please use these resources.</p>
                <p>You can set your browser to refuse all or some browser cookies, or to alert you when cookies are
                    being sent. To learn how you can manage your Flash cookie settings, visit the Flash player settings
                    page on Adobe’s website. If you disable or refuse cookies, please note that some parts of this site
                    may then be inaccessible or not function properly.</p>
                <ul>
                    <li>Activate DO NOT TRACK on Google Chrome</li>
                    <li>Activate DO NOT TRACK on Safari</li>
                    <li>Activate DO NOT TRACK on IOS Devices</li>
                </ul>

                <h5>Website Analytics</h5>
                <p>From time to time, we may use third party analytic tools operated by third-party companies. These
                    analytic tools may also use cookies or other tracking technologies to analyze visitors’ use of our
                    Site to determine the popularity of the content, and better understand online activity. We do not
                    transfer personal information to these third-party vendors. However, in order to access our Site,
                    you are consenting to the collection and use of your information by these third-party analytic
                    companies. We recommend you review their respective privacy policies and contact them directly with
                    any questions or requests to delete your information.</p>

                <h5>Email Policies</h5>
                <p>We are committed to keeping your e-mail address confidential. We do not sell, rent, or lease our
                    subscription lists to third parties, and will not disclose your email address to any third parties
                    except as expressly set out in this Privacy Policy. In compliance with Canada’s Anti-Spam
                    legislation all e-mails sent from our organization will clearly state who the e-mail is from and
                    provide clear information on how to contact the sender. In addition, all e-mail messages will also
                    contain concise information on how to remove yourself from our mailing list so that you can opt-out
                    of further e-mail communication from us and will contain an “unsubscribe” link at the bottom of each
                    email. If you have any issues unsubscribing from our newsletter, please contact us at <a href="mailto:info&#64;grandriverenterprises.com">info&#64;grandriverenterprises.com</a> requesting to
                    unsubscribe from future emails.</p>

                <h4>HOW WE USE AND DISCLOSE YOUR INFORMATION</h4>
                <h5>Use of Information</h5>
                <p>To the extent we process your data, we do so to serve our own legitimate business interest.
                    Generally, the purpose of collecting your information through our Site is to:</p>
                <ul>
                    <li>Provide our Site and its contents to you;</li>
                    <li>To provide you with information, products or services that you request from us;</li>
                    <li>To carry out our obligations and enforce our rights arising from any contracts between you and
                        us;</li>
                    <li>Collect statistical data and analyze trends for our use, and for use by third-parties to better
                        understand your needs and interests;</li>
                    <li>Improve our Services, marketing and promotional efforts or troubleshoot issues on our Site;</li>
                    <li>Contact you with special offers, newsletters, information advertisements of third parties and
                        content we believe will be of interest to you which in some instances may be in exchange for a
                        commission to be paid to us by such third parties (if you opt to take part in such promotions,
                        the third parties will receive your information);</li>
                    <li>To allow you to participate in interactive and social features on our Site;</li>
                    <li>Improve the content, functionality and usability of this Site and provide a tailored and
                        personalized experience for you when you visit our Site;</li>
                    <li>Prevent fraudulent activities and security breaches;</li>
                    <li>Resolve disputes and assist law enforcement when necessary or respond to any legal claims or
                        otherwise comply with our legal obligations; and</li>
                    <li>For any other purpose with your consent.</li>
                </ul>
                <p>We may also use the information we have collected from you to enable us to display advertisements to
                    our advertisers’ target audiences. Even though we do not disclose your personal information for
                    these purposes without your consent, if you click on or otherwise interact with an advertisement,
                    the advertiser may assume that you meet its target criteria.</p>

                <h4>Disclosure of your Information</h4>
                <p>We may disclose your personal information that we collect or you provide as described in this Privacy
                    Policy to third parties in certain circumstances. In particular we may share your data with third
                    party processors as needed to serve our legitimate business interests. We will not sell your
                    information to any third-party. We may share your Information with third-parties from time to time
                    in certain situations and in order to carry out the following business operations:</p>
                <ul>
                    <li>Administering our Site and various tasks such as order processing, hosting services, email
                        delivery, communications and customer service;</li>
                    <li>Delivery of our Services;</li>
                    <li>Administering your account;</li>
                    <li>Entering into agreements and communication with you;</li>
                    <li>Analyzing data and trends, including partnering with third-party analytic companies;</li>
                    <li>Run and manage our ads to produce ads that appear when you visit our Site;</li>
                    <li>Protecting the security of our business and Site; including to investigate and remedy any breach
                        of any of our rights or policies, or as needed to obtain and maintain insurance coverage, manage
                        risks, obtain financial or legal advice;</li>
                    <li>Promoting and marketing the Site and Services;</li>
                    <li>In the event of sale or transfer of our business;</li>
                    <li>To comply with any requirements to disclose by law, such as to initiate or respond to any legal
                        action or to protect the rights, property and safety of others. This includes sharing
                        information with other parties to prevent security breaches, fraud or credit risks;</li>
                    <li>Any other reason necessary to comply with any legal obligation, to protect your interests, the
                        interests of others or our business; and</li>
                    <li>With your consent.</li>
                </ul>
                <p>We also may disclose aggregated information about our users and information that does not identify
                    any individual in compliance with this Privacy Policy and without restriction.</p>

                <h4>Retention of Information</h4>
                <p>We generally retain your information only as long as is reasonably necessary to provide you with the
                    Services, comply with our legal obligations or until you request that we delete your information.
                    Any information we no longer need will be permanently deleted.</p>

                <h4>International Data</h4>
                <p>Your information, including Personal Data, may be transferred to and maintained on servers located
                    outside of your state, province, country or other governmental jurisdiction where the data
                    protection laws may differ than those from your jurisdiction. We will take all steps reasonably
                    necessary to ensure that your data is treated securely and in accordance with this Privacy Policy
                    and no transfer of your Personal Data will take place to an organization or a country unless there
                    are adequate controls in place.</p>

                <h4>Processing Your Information</h4>
                <p>Generally, we do not process or hold your Information but instead we use third-party processors to
                    process your data. In order to carry out our business, it is necessary for us to transmit certain
                    information to third-parties. For a full list of third-party applications we use, please contact us
                    at <a href="mailto:info&#64;grandriverenterprises.com">info&#64;grandriverenterprises.com</a>.</p>
                <p>In some instances, however, we may process your information internally. When you agree to be bound by
                    our Privacy Policy, you consent to our processing of your information for such purposes to carry out
                    our business interests.</p>

                <h4>Protection of Your Information</h4>
                <p>We employ commercially reasonable methods to ensure the security of the information you voluntarily
                    provide to us, as well as that information that is collected automatically. We implement a variety
                    of security measures to maintain the safety of your personal information including using standard
                    security protocols and transmitting information securely via Secure Sockets Layer (SSL) and only use
                    recognized online secure payment systems and reputable third-party payment processors and
                    applications. Since email is not considered secure, please do not send us private information via
                    email. Doing so is completely at your own risk. In order to protect our Site, we use software
                    programs to monitor network traffic to identify unauthorized attempts to upload or change
                    information or hack or otherwise damage our Site. While we take these steps to protect your personal
                    information as much as we can, no system or transmission of data over the internet or any other
                    public network or any storage of data can be guaranteed to be 100% secure. If you are concerned
                    about your personal information, please contact us at <a href="mailto:info&#64;grandriverenterprises.com">info&#64;grandriverenterprises.com</a>.</p>

                <h4>Event of a Breach</h4>
                <p>In the unlikely event customer data has been lost, stolen, or potentially compromised, our policy is
                    to alert our customers via email no later than 72 hours of our becoming aware of the event. We will
                    also report such incident to any required data protection authority. We will work closely with any
                    customers affected to determine next steps such as any end-user notifications, needed patches, and
                    how to avoid any similar event in the future.</p>

                <h4>YOUR RIGHTS</h4>
                <p>We respect your rights to your personal information and data. You have the right to access, correct,
                    request restriction or deletion of your information, or request how we use your personal information
                    and data collected, as required by applicable law. Note that we may charge a reasonable fee for
                    actions that you ask us to take with respect to your data. In addition, we reserve the right to
                    first request you provide us with evidence verifying your identity before we take any action.</p>

                <p>After we verify your identity, you have the right to:</p>
                <ul>
                    <li>Update or change any information you have provided to us. To update or delete your information,
                        please contact us at <a href="mailto:info&#64;grandriverenterprises.com">info&#64;grandriverenterprises.com</a>.</li>
                    <li>Request that we confirm what data we hold about you, and for what purposes. You also have the
                        right to confirmation of whether we process your data or deliver your data to third party
                        processors, and for what purposes. We will supply you with copies of your personal data unless
                        doing so would affect the rights and freedoms of others;</li>
                    <li>Change your consent to our use of your information. In such cases, we may require you to delete
                        your account with us, as described above, and you may not have full access to our Site;</li>
                    <li>Request a digital copy of the data that we hold about you. Your first request for a copy of your
                        personal data will be provided free of charge; subsequent requests will incur a reasonable fee.
                    </li>
                    <li>Request that we gather and transfer your data to another controller, in a commonly used and
                        machine-readable format, unless doing so would cause us an undue burden;</li>
                    <li>Request that we delete all data that we hold about you, and we must delete such data without
                        undue delay. There are exceptions to this right, such as when keeping your data is required by
                        law, is necessary to exercise the right of freedom of expression and information, is required
                        for compliance with a legal obligation, or is necessary for the exercise or defense of legal
                        claims. Such a request may result in a termination of your account with us and you may have
                        limited or no use of our website;</li>
                    <li>Opt-out of receiving future email correspondence from us by checking the appropriate box when
                        you register for the account or make a purchase. You may change your communication settings by
                        contacting us at <a href="mailto:info&#64;grandriverenterprises.com">info&#64;grandriverenterprises.com</a>.</li>
                    <li>Opt-out of receiving any third-party marketing communications or having your personal
                        information used for marketing purposes. You may do this by contacting us at <a href="mailto:info&#64;grandriverenterprises.com">info&#64;grandriverenterprises.com</a>.</li>
                    <li>In certain situations, restrict the processing of your data, such as when you contest the
                        accuracy of your data or when you have objected to processing, pending the verification of that
                        objection. When processing has been restricted, we will continue to store your data but will not
                        pass it on to third party processors without your consent, or as necessary to comply with legal
                        obligations or protect your rights, our rights, or those of others. In addition, you may opt out
                        of any processing of your data altogether. However, doing so may result in the termination of
                        your account and loss of access to our Site;</li>
                    <li>Complain to a supervising authority in your jurisdiction if you believe we are misusing your
                        data or have violated any of your rights under this Privacy Policy or applicable law.</li>
                </ul>

                <p>If you wish to have any third-parties, including those to whom we’ve transmitted your information,
                    delete your information, you will need to contact those third-parties directly to do so. Upon
                    request, we will provide a list of all third parties to whom we have transmitted your information.
                </p>

                <h4>Changes to our Privacy Policy</h4>
                <p>We reserve the right to update and change this Privacy Policy and will make our best effort to update
                    the date “Last Updated” at the top of this page each time we make changes. You can review our most
                    recent changes by visiting this page. By continuing to use our Site, you waive specific notice of,
                    and accept all changes to our Privacy Policy made from time to time. We encourage you to return to
                    this page each time you access our Site to ensure you have read our most recent Policy.</p>

                <h4>Contact Us</h4>
                <p>If you have any questions about our Privacy Policy or wish to exercise any of your rights as set out
                    in this Privacy Policy, please contact our dedicated data manager at<a href="mailto:info&#64;grandriverenterprises.com">info&#64;grandriverenterprises.com</a>.</p>

            </div>
        </div>
    </div>
</section>