.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: inherit !important;
  box-shadow: none !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}