<footer class="relative-footer">
    <div class="container">
        <div class="footer-wrapper">
            <div class="row">
                <div class="col-xl-8 col-md-6">
                    <div class="footer-left">
                        <a href="#"><img src="assets/images/footer-logo.svg" width="100"
                                alt="Grand River Enterprises"></a>
                        <span>
                            <h4>A LEGACY BUILT ON HERITAGE, TRADITION & CULTURE</h4>
                            <p>SIX NATIONS OF THE GRAND RIVER TERRITORY</p>
                        </span>
                    </div>
                </div>
                <div class="col-xl-2 col-md-3">
                    <a href="#">2176 Chiefswood Road P.O. Box 760, Ohsweken, ON Canada N0A 1M0</a>
                </div>
                <div class="col-xl-2 col-md-3">
                    <a href="tel: (519) 445-0919"> (519) 445-0919</a>
                    <br>
                    <a href="mailto:info&#64;grandriverenterprises.com">info&#64;grandriverenterprises.com</a>
                    <br> 
                    <a [routerLink]="['/dashboard/T&C']"
                            routerLinkActive="active">Site Terms & Conditions</a>
                    <br>
                    <a [routerLink]="['/dashboard/cookies&policy']">Privacy & Cookie Policy</a>
                </div>
            </div>
            <small>© {{currentYear}} Grand River Enterprises Six Nations Ltd.</small>
        </div>
    </div>
</footer>