<section class="video-section position-relative">
    <div class="login-form position-absolute">
        <div class="row">
            <div class="col-md-5 p-0">
                <div class="login-left d-flex align-items-center justify-content-center">
                    <img src="assets/images/logo.svg" alt="Grand River Enterprises">
                </div>
            </div>
            <div class="col-md-7 p-0">
                <div class="login-right">
                    <form #forgotPasswordForm="ngForm" (ngSubmit)="onSubmit()">
                        <h1>Forgot Password</h1>

                        <!-- Email Field -->
                        <input type="email" name="email" [(ngModel)]="email" required
                            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" #emailField="ngModel"
                            placeholder="Email" class="form-control" />


                        <!-- Validation Errors -->
                        <div *ngIf="emailField.touched && emailField.invalid">
                            <small class="error" *ngIf="emailField.errors?.['required']">Email is required.</small>
                            <small class="error" *ngIf="emailField.errors?.['pattern']">Enter a valid email
                                address.</small>
                        </div>

                        <!-- Submit Button -->
                        <button type="submit" class="login-btn">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <video class="video-background" autoplay muted loop playsinline>
        <source src="assets/images/banner-video.mp4" type="video/mp4">
    </video>
</section>
<footer>
    <div class="container">
        <div class="footer-wrapper">
            <div class="row">
                <div class="col-xl-8 col-md-6">
                    <div class="footer-left">
                        <a href="#"><img src="assets/images/footer-logo.svg" width="100"
                                alt="Grand River Enterprises"></a>
                        <span>
                            <h4>A LEGACY BUILT ON HERITAGE, TRADITION & CULTURE</h4>
                            <p>SIX NATIONS OF THE GRAND RIVER TERRITORY</p>
                        </span>
                    </div>
                </div>
                <div class="col-xl-2 col-md-3">
                    <a href="#">2176 Chiefswood Road P.O. Box 760, Ohsweken, ON Canada N0A 1M0</a>
                </div>
                <div class="col-xl-2 col-md-3">
                    <a href="tel:1-888-696-2224">1-888-696-2224</a>
                    <a href="mailto:info@grandriverenterprises.com">Grand River Enterprises</a>
                    <a href="#">Site Terms & Conditions</a>
                    <a href="#">Privacy & Cookie Policy</a>
                </div>
            </div>
            <small>© 2025 Grand River Enterprises Six Nations Ltd.</small>
        </div>
    </div>
</footer>
<div class="cookies-icon">
    <img src="assets/images/footer-logo.png" alt="Footer Logo">
</div>