<section class="faq">
    <div class="container">
        <h2 class="mb-4">Site Terms and Conditions</h2>

        <p>This website, www.sagobrands.ca (“Site”) is owned and operated by Grand River Enterprises Six Nations Ltd.
            (“Grand River Enterprises”) a company operating under the federal laws of Canada. In these Terms of Use,
            “we”, “us” and “our” refer to Grand River Enterprises and the terms “you” or “your” refer to any individual
            user of our Site.</p>

        <h3>NOTICE</h3>
        <p>It is your responsibility to carefully read these Terms of Use (“Terms”) prior to using our Site or ordering
            or accessing any of our services, products, or resources (collectively, “Services”). These Terms govern and
            define your use of the Site and Services and are legally binding on you. By using and accessing this Site,
            you accept, without limitation, all of the Terms, and all related policies of the Site, including the
            Privacy Policy as indicated in these Terms.</p>

        <h3>PURPOSE OF THE SITE</h3>
        <p>The purpose of this Site is to provide employees and owners of licensed retailers or wholesalers access to an
            online platform to order the products of Grand River Enterprises. The Site does not process payment for such
            orders. To use this Site you must be at least 19 years of age, reside in Ontario, and be an authorized
            employee of a licensed retailer or wholesaler who was provided with a username and password for Site access
            by Grand River Enterprises as below.</p>
        <p>By accessing this Site, you represent, warrant, and agree that (i) you are at least 19 years of age; (ii) you
            are an employee of a licensed retailer or wholesaler who was provided with a username and password by Grand
            River Enterprises; (iii) you are authorized to make commitments through this Site on behalf of your
            employer; and (iv) your employer has authorized you to enter into these Terms and agree to our Privacy
            Policy.</p>
        <p>Before you can begin to place orders and use the Services on this Site, Grand River Enterprises will provide
            you with a username and a password as a registered user of the Site (“Account”). You agree that your
            username and password to access the Site are confidential and you undertake to always preserve their
            confidentiality. You are responsible for any use that is made of your username by any person.</p>

        <h3>USE OF OUR SITE AND SERVICES</h3>
        <p>You are not permitted to agree to these Terms or access this Site if you are in a jurisdiction where it is
            illegal to do so. Your access to, and use of, this Site constitute your explicit acknowledgement that you
            have verified that you may access and use this Site in the jurisdiction in which you are located.</p>
        <p>When you accessed our Site, you were given reasonable notice that these Terms existed. By accessing and
            continuing to use our Site or by clicking to accept or agree to these Terms when the option is made
            available to you, you agree to be legally bound and abide by these Terms and our Privacy Policy whether or
            not you have read them. If you do not agree with these Terms or our Privacy Policy, you must not use or
            access our Site or Services.</p>
        <p>Grand River Enterprises grants you a limited, revocable, non-exclusive license to access this Site for your
            own personal use and in compliance with applicable law. Use of the Site beyond the scope of authorized
            access granted to you by these Terms immediately terminates that license.</p>
        <p>While we aim to keep this Site as up-to-date as possible, we cannot guarantee that all content on our Site is
            entirely accurate, complete, or up to date. We reserve the right at any time to modify or discontinue, in
            whole or in part, the Site and any Services offered or change the prices of Services without notice. We are
            not liable to you or any third-party for any modification, price change, suspension or discontinuation of
            the Site or any Services.</p>
        <p>More information about how we collect, process, and store your personal information can be found in our
            Privacy Policy.</p>

        <h3>INTELLECTUAL PROPERTY AND OWNERSHIP OF RIGHTS</h3>
        <p>Intellectual Property Rights</p>
        <p>All content, resources, materials, images, text, designs, graphics, page layouts, icons, videos, logos,
            taglines, trademarks (whether common law or registered), underlying HTML, software codes, Meta-tags,
            copyright, service marks, as well as the collection, arrangement, and assembly of such materials
            (“Intellectual Property”) are owned by us, unless attributed otherwise. All content on the Site is
            proprietary to us and you may not modify, adapt, sublicense, translate, sell, reverse engineer, decompile,
            or disassemble any portion of the Site, whether in whole or in part, and any of our Intellectual Property.
        </p>

        <p>If you wish to use, publish, or refer to any of our Intellectual Property, you must do so by first requesting
            permission by emailing us at <a href="info&#64;grandriverenterprises.com">info&#64;grandriverenterprises.com</a>. Permission is not granted until you receive
            confirmation in writing from us and any terms we outline for use, which may include you providing obvious
            credit to us and including a back link to the webpage on our Site or to the social media platform where our
            Intellectual Property was originally posted. In no event do you obtain any rights of ownership in our
            Intellectual Property, or may you claim that it is your own content or creation.</p>
        <p>Certain content on this Site, including but not limited to text, graphics, logos, icons, and other
            photographs is owned by third parties (“Third-Party Content”). You understand that you have no proprietary
            rights in the Third-Party Content and that such third parties retain all proprietary interest in the
            Third-Party Content. You may not copy, sell, reproduce, distribute, transmit, modify, publish, or use the
            Third-Party Content in any way without prior consent of the respective third-party owner of such content.
        </p>

        <p>Grand River Enterprises brand logos appearing on this Site are its trademarked property and other logos that
            are owned by third parties, which appear on this Site, are under license by Grand River Enterprises. Your
            use of this Site and its content is not to be construed as the granting, by implication or otherwise, of any
            license to use any trademark on this Site.</p>

        <p><a href="https://www.sagobrands.ca" target="_blank">www.sagobrands.ca</a> is a domain name registered by or
            on behalf of Grand River Enterprises and you may not link to it or utilize it without our prior written
            consent.</p>

        <h3>Violations and Indemnity</h3>
        <p>We take violations and infringement of our Intellectual Property rights seriously. We expressly reserve the
            right to take whatever legal steps necessary to protect and defend our Intellectual Property, and violators
            will be prosecuted to the fullest extent permissible by law. You agree to indemnify, defend, and hold us
            harmless for any and all damages, costs and expenses, including legal fees, arising from your misuse of our
            Intellectual Property and our enforcement of our rights.</p>

        <h3>Security</h3>
        <h4>Account Registration</h4>
        <p>Although sections of the Site may be viewed simply by visiting the Site, in order to access most content
            and/or most features of the Site you will need an Account. If you registered with us for an Account on the
            Site you verify that you provided true, accurate, current, and complete information when registering the
            Account and you agree that any further information you may be required to provide on an ongoing basis in
            connection with the Account will be true, accurate, current, and complete. It is your responsibility to
            maintain and promptly update your Account information to ensure it remains true, accurate, current, and
            complete.</p>

        <p>You are responsible for maintaining the confidentiality of your Account password and Account and you are
            fully responsible for all activities that occur in connection with your Account and in connection with the
            password associated with your Account. You agree to immediately notify us of any unauthorized use of either
            your password or your Account as well as any other breach of security on the Site that you become aware of.
            You further agree that you will not permit any others, including those whose accounts have been terminated,
            to access your Account.</p>
        <h3>Use of Third-Party Applications</h3>
        <p>In order to run our Site and provide our Services, we use a number of third-party applications. For more
            information as to how your personal information is collected, stored, and processed, please refer to our
            Privacy Policy. You understand it is your responsibility to review the Terms for any such third-party
            applications. If you do not agree with the Terms for any third-party application used by our Site, please
            discontinue use of our Site and Services immediately.</p>

        <h3>Links to Other Materials</h3>
        <p>This Site may contain links to sites owned or operated by independent third parties. These links are provided
            for your convenience and reference only. We do not control such sites and, therefore, we are not responsible
            for any content posted on these sites. The fact that we offer such links should not be construed in any way
            as an endorsement, authorization, or sponsorship of that site, its content or the companies or products
            referenced therein, and we reserve the right to note its lack of affiliation, sponsorship, or endorsement on
            the Site. If you decide to access any of the third-party websites linked to by the Site, you do this
            entirely at your own risk. We cannot be held responsible for the accuracy, copyright compliance, legality,
            or decency of material contained in third-party sites, and you hereby irrevocably waive any claim against us
            with respect to such sites.</p>

        <h3>Prohibited Behaviour</h3>
        <p>By using our Site, you agree not to misuse or tamper with our Site, including but not limited to hacking,
            introducing viruses, trojans, worms, logic bombs or other technologically harmful material that would harm
            the functionality of, or jeopardize the security of our Site. For greater certainty you are not to interfere
            with or disrupt the Site, including attempting to interfere with the access of any other user, including
            without limitation, overloading, engaging in denial of service attacks, spamming, crashing, or mail-bombing
            the Site. We will immediately report any such breach or what we deem in our discretion to be harmful
            activities to the relevant law enforcement authorities. You agree to indemnify, defend, and hold us harmless
            from any and all third-party claims, liability, damages, and/or costs arising from your use and misuse of
            our Site and/or your breach of these Terms.</p>
        <p>You are strictly prohibited from communicating on or through the Site any unlawful, harmful, offensive,
            threatening, abusive, libelous, harassing, defamatory, vulgar, obscene, profane, hateful, fraudulent, false
            or misleading, sexually explicit, racially, ethnically, or otherwise objectionable material of any sort,
            including, but not limited to, any material that encourages conduct that would constitute a criminal
            offense, give rise to civil liability, or otherwise violate any applicable law. You are further prohibited
            from any communication of any kind on or through the Site of any unsolicited or unauthorized advertising,
            promotional materials, junk mail, spam, chain letters, pyramid schemes, or any other form of solicitation.
        </p>

        <p>You are strictly prohibited from attempting to discover, store, share, or use other users’ personal
            information, including addresses, telephone numbers, fax numbers, email addresses, for any purpose.</p>

        <p>We reserve the right, in our sole discretion, to block your access to our Site and Services as a result of
            any such prohibited behaviour.</p>

        <h3>Order of Products and Shipping</h3>

        <h4>Order of Products through Site Accounts</h4>
        <p>Products, including tobacco products, may be made available for order to Accountholders on this Site
            (“Products”). The order of Products shall be made in accordance with the Tobacco and Vaping Products Act,
            S.C. 1997, c. 13, the Smoke-Free Ontario Act, 2017, S.O. 2017, c. 26, Sched. 3 and any other applicable
            legislation (collectively, “Acts”). By ordering any Products, you represent, warrant, and covenant that you
            are able to purchase those Products in accordance with the provisions of the Acts and any other applicable
            legislation and that you will only use Products for resale in Ontario.</p>

        <p>The completion of orders is subject to our acceptance of the order and the availability of ordered Products.
            We are not obligated to fulfill any order you may make and reserve the right, in our sole discretion, to
            refuse orders, subject to our regulatory obligations. Descriptions and details of Products are provided as a
            courtesy. We take steps to ensure that descriptions and details are accurate but we cannot guarantee that
            descriptions and details will not contain errors.</p>

        <p>If you believe that any Product that you have received from us is defective, we ask that you immediately
            contact Grand River Enterprises at <a href="mailto:info&#64;grandriverenterprises.com">info&#64;grandriverenterprises.com</a>.</p>

        <h4>Shipping of Products</h4>
        <p>We only ship Products to Ontario addresses. Tobacco products are shipped and packaged in accordance with the
            requirements of the Acts and other applicable legislation. Title to any Products ordered by you and the risk
            of loss to or of such Products shall pass to you upon delivery. We are not responsible for packages that are
            undelivered or delivered to an incorrect address due to incorrect or incomplete address information provided
            to us.</p>

        <h3>Assumption of Risk and Disclaimers</h3>

        <h4>Assumption of Risk</h4>
        <p>Use of this Site is at your own risk. While we host our site on a reputable platform and take commercially
            reasonable efforts to maintain and host the Site, we make no representations, warranties or guarantees as to
            your individual safety when using our Site. You further assume all risk associated with your access to and
            use of any information or materials provided to you on the Site, Services or any other pages, platforms or
            profiles maintained by us and any subsequent actions you choose to take, or not to take, as a result of the
            information, influence or educational materials provided or made available to you.</p>

        <h4>Warranties Disclaimer</h4>
        <p>We make no warranties as to our Site, the Services, or any related materials. You agree that our Site, and
            Services are provided “as is” and without warranty of any kind either express or implied. To the fullest
            extent permissible pursuant by applicable law, we expressly disclaim all warranties, including, but not
            limited to, warranties of merchantability, fitness for a particular purpose and non-infringement.</p>
        <h4>No Guarantees</h4>
        <p>While we may reference certain results, outcomes or situations on this Site or Services, you understand and
            acknowledge that we make no guarantee as to the accuracy of any third-party statements or the likelihood of
            success for you as a result of any statements or testimonials contained on our Site or as part of the
            Services.</p>

        <h4>General Disclaimer</h4>
        <p>TO THE FULLEST EXTENT PERMITTED BY LAW, WE EXPRESSLY EXCLUDE ANY LIABILITY FOR ANY DIRECT, INDIRECT, OR
            CONSEQUENTIAL LOSS OR DAMAGE INCURRED BY YOU OR OTHERS IN CONNECTION WITH THE USE OF OUR SITE OR THE
            SERVICES, INCLUDING WITHOUT LIMITATION ANY LIABILITY FOR ANY ACCIDENTS, DELAYS, INJURIES, HARM, LOSS,
            DAMAGE, DEATH, LOST PROFITS, PERSONAL OR BUSINESS INTERRUPTIONS, MISAPPLICATION OF INFORMATION, PHYSICAL,
            MENTAL, EMOTIONAL, OR SPIRITUAL INJURY OR HARM, LOSS OF INCOME OR REVENUE, LOSS OF BUSINESS, LOSS OF PROFITS
            OR CONTRACTS, ANTICIPATED SAVINGS, LOSS OF DATA, LOSS OF GOODWILL, AND FOR ANY OTHER LOSS OR DAMAGE OF ANY
            KIND, WHETHER CAUSED BY NEGLIGENCE, BREACH OF CONTRACT OR OTHERWISE, WHETHER FORESEEABLE OR UNFORESEEABLE.
        </p>

        <h4>Third Party Disclaimer</h4>
        <p>You acknowledge and agree that we are not liable for any defamatory, offensive, or illegal conduct of any
            other third-party participant or user, including you.</p>

        <h4>Technology Disclaimer</h4>
        <p>We make reasonable efforts to provide you with modern, reliable technology, software, and platforms from
            which to access our Site and Services. In the event of a technological failure, you accept and acknowledge
            that we are not in any way responsible or liable for said failure and any resulting damages to you or your
            business. While we will make reasonable efforts to support you, some technological issues are outside our
            control and you may need to access support from a third-party provider. We do not warrant that the Site will
            be functional, uninterrupted, correct, complete, appropriate, or error-free, that defects will be corrected,
            or that any part of the Site or Services are free of viruses or other harmful components. We do not warrant
            or make any representations regarding the use or the results of the use of our Site, Services, or related
            materials, or on third-party websites in terms of their correctness, accuracy, timeliness, reliability, or
            otherwise.</p>

        <h4>Not Professional Advice</h4>
        <p>We are not medical, legal, financial, or other regulated professionals, or if we are, your use of our Site
            does not mean we are providing our professional services to you. You expressly acknowledge and agree that we
            are not acting in any professional capacity, including medical, legal, financial, or otherwise during the
            course of any Service. No part of our Site, the Service or any related content or materials are to be
            construed as medical, legal, or financial advice. We expressly disclaim any and all responsibility for any
            actions or omissions you choose to make as a result of using this Site and/or Services.</p>

        <h4>Third-Party Contributors</h4>
        <p>We may provide content to you written by third-party contributors on our Site. While we make our best effort
            to ensure all of our writers are qualified in their industry and reflect our values, we make no guarantees
            of quality or accuracy. All written content on the Site are opinion pieces and must not be interpreted as
            our opinion or as specific advice. We are not liable for any third-party contributors’ content or opinions.
            You must not rely on Site content or third-party contributors’ opinions and always seek the appropriate
            professional advice.</p>

        <h4>Hyperlinks</h4>
        <p>The Site may contain hyperlinks to websites owned and operated by other parties. These hyperlinks do not
            imply an endorsement by Grand River Enterprises of any content on any website these hyperlinks may connect
            to nor do they imply any affiliation with the owners or operators of those websites. Once linked to another
            website beyond this Site, it is your responsibility to read any terms of use or privacy policy of that
            website. Your access and use of third-party websites is solely at your own risk.</p>
        <h3>INDEMNIFICATION, LIMITATION OF LIABILITY, AND RELEASE OF CLAIMS</h3>

        <h4>Release, Indemnity and Waiver</h4>
        <p>Our Site and related materials are provided for educational and informational use only. You agree to
            indemnify, release, and save harmless Grand River Enterprises and its directors, officers, agents,
            employees, contractors, volunteers, heirs, executors, administrators, successors, and assigns, as applicable
            (collectively, “Released Parties”) for any direct or indirect loss or conduct incurred as a result of your
            use of our Site, Services or any related communications, including as a result of any consequences incurred
            from technological failures or malfunctions. You further waive any right you may have against the Released
            Parties and any legal recourse for any damages, costs, losses, or expenses you may incur as a result of your
            use of the Site or Services. You acknowledge this release of liability is binding on your heirs, executors,
            and anyone else who may be able to bring a legal action on your behalf in the future.</p>

        <h4>Limitation of Liability</h4>
        <p>We will not be held responsible or liable in any way for the information, products, or materials that you
            request or receive through or in relation to our Site or the Services. We do not assume liability for any
            third-party conduct, accidents, delays, harm, or other detrimental or negative outcomes as a result of your
            access of our Site and Services.</p>

        <h3>General</h3>

        <h4>Termination</h4>
        <p>These Terms are effective until terminated by either party. If you no longer agree to be bound by these
            Terms, you must cease use of the Site. If you are dissatisfied with the Site, its content, or any of these
            terms, conditions, and policies, your sole legal remedy is to discontinue using the Site.</p>
        <p>If at any time we believe that you have violated these Terms, in our sole and absolute discretion, we shall
            immediately terminate your use of our Site, the Services and any related communications as we deem
            appropriate. At any time, we may block or revoke your access of our Site and Services without notice, and if
            necessary, block your IP address from further visits to our Site.</p>

        <h4>Non-waiver</h4>
        <p>Our failure to exercise or enforce any right or provision of these Terms will not constitute a waiver of such
            right or provision. A waiver by us of any default will not constitute a waiver of any subsequent default. No
            waiver is effective unless it is communicated to you in writing.</p>

        <h4>Assignment</h4>
        <p>These Terms are not assignable, transferable, or sub-licensable by you except with our prior written consent.
            We may assign, transfer, or convey these Terms, or any rights hereunder to a third party without notice to
            you.</p>

        <h4>Full Agreement</h4>
        <p>You acknowledge that these Terms, together with our Privacy Policy, constitute the full agreement relating to
            your use of the Site and Services.</p>

        <h4>Governing Law and Jurisdiction</h4>
        <p>These Terms as well as our Privacy Policy are governed by and interpreted in accordance with the laws of
            Ontario and the federal laws of Canada where applicable. Any disputes arising directly or indirectly from
            this Agreement will be submitted and heard exclusively in the courts of the Province of Ontario.</p>

        <h4>Severability</h4>
        <p>If any of the provisions of these Terms are found to be invalid, illegal, or unenforceable, the validity,
            legality and enforceability of the remaining provisions will not, to the extent permitted by law, in any way
            be affected and will remain enforceable.</p>

        <h4>All Rights Reserved</h4>
        <p>We reserve the right to update and change these Terms at any time and it is your responsibility to review
            these Terms periodically. You can review the most current version of our Terms at any time by visiting this
            page. Your continued use of or access to the Site and/or Services affirms your acceptance of any changes to
            our Terms. All rights not expressly set out and granted in these Terms and Conditions of Use and/or our
            Privacy Policy are expressly reserved by us.</p>

        <h4>Contact</h4>
        <p>If you have any questions about these Terms and Conditions of Use, please send an email to:<a href="mailto:info&#64;grandriverenterprises.com">info&#64;grandriverenterprises.com</a>.</p>


    </div>
</section>