<section class="tobacco-order">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">

            <h2>Place a New Order for Promotional Products</h2>
            <button class="btn btn-outline-primary" [routerLink]="['/dashboard/promo-order-confirmation']">
                🛒 My Cart ({{ savedCartLength }})
            </button>
        </div>
        <!-- <p>Instructions for promo products order...</p> -->
        <div class="table-responsive">
            <table class="table table-bordered m-0 ">
                <thead>
                    <tr>
                        <th width="35%">Product</th>
                        <th width="20%" class="text-start">Options</th>
                        <th width="15%">Quantity </th>
                        <th width="15%">Price</th>
                        <th width="15%">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of promoProducts">
                        <td>
                            <div class="product-wrap">
                                <span>
                                    <img [src]="'data:image/png;base64,' + product.productBase64" alt="Cap">
                                    <h6>{{product.productName}}</h6>
                                </span>
                                <img data-bs-toggle="modal" data-bs-target="#exampleModal" src="assets/images/info.svg"
                                    (click)="openProductDetailModal(product)" alt="Info Icon">
                            </div>
                        </td>
                        <td>
                            <select name="size" id="select-size" [(ngModel)]="product.masterSizeId"
                                class="form-select border-black rounded-0">
                                <option *ngFor="let size of product.masterSizes" [value]="size?.sizeId">{{ size.sizeName
                                    }}</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" class="form-control" inputmode="numeric" pattern="[0-9]*" maxlength="5"
                                (keydown)="allowOnlyNumbers($event)" [(ngModel)]="product.productQuantity"
                                (input)="updateSubtotal($event, product, 'productQuantity')"
                                (focus)="onFocus(product, 'productQuantity')"
                                (blur)="onBlur(product, 'productQuantity')">
                        </td>
                        <td>{{product.productPrice | currency : 'USD'}}</td>
                        <td>{{product.subtotal | currency : 'USD'}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="table-footer table-bordered">
            <h5>Total</h5>
            <h5>{{totalAmount|currency:'USD'}}</h5>
        </div>
        <form action="#">
            <div class="form-check">
                <input class="form-check-input" [(ngModel)]="isConfirmed" type="checkbox" value="" id="checkDefault"
                    name="checkDefault">
                <label class="form-check-label" for="checkDefault">
                    I have checked all quantities selected I and am ready to order. *
                </label>
                <div *ngIf="showConfirmValidation && !isConfirmed" class="text-danger mt-1">
                    Please confirm before submitting.
                </div>
            </div>
            <button class="common-btn mt-4 " 
                (click)="goToConfirmation()" type="button">
                <img src="assets/images/orange-arrow-right.png" alt="Arrow Right" class="img-fluid">
                <p class="text-white m-0">Checkout</p>
            </button>
        </form>
    </div>
</section>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <div class="info-modal-content">
                    <img [src]="selectedProductModal?.productBase64" width="200" alt="Pack">
                    <div class="package-info">
                        <h5>{{selectedProductModal?.productName}}</h5>
                        <p>{{selectedProductModal?.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>