<section class="tobacco-order">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2>Place a New Order for Tobacco Products</h2>
            <button class="btn btn-outline-primary" [routerLink]="['/dashboard/order-confirmation']">
                🛒 My Cart ({{ savedCartLength }})
            </button>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered m-0">
                <thead>
                    <tr>
                        <th width="40%">Product</th>
                        <th width="15%">$ Case / Carton</th>
                        <th width="10%">Order Cases</th>
                        <th width="15%">Order Cartons</th>
                        <th width="20%">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td>
                            <div class="table-featured-product ">
                                <span>
                                    <img *ngIf="product.isFeatured" src="assets/images/star.svg" alt="Star Icon">
                                    <h4>{{product.productName}}</h4>
                                </span>
                                <button class="btn btn-link" type="button" (click)="openProductDetailModal(product)">
                                    <img data-bs-toggle="modal" data-bs-target="#exampleModal"
                                        src="assets/images/info.svg" alt="Info Icon">
                                </button>
                            </div>
                        </td>
                        <td>{{product.productPricePerCase|currency:'USD'}} /
                            {{product.productPricePerCarton|currency:'USD'}}</td>
                        <td><input type="text" class="form-control" inputmode="numeric" pattern="[0-9]*" maxlength="5"
                                (keydown)="allowOnlyNumbers($event)" [(ngModel)]="product.orderCases"
                                (input)="updateSubtotal($event,product,'orderCases')"
                                (focus)="onFocus(product, 'orderCases')" (blur)="onBlur(product, 'orderCases')"></td>
                        <td>
                            <div>

                                <input [disabled]="user?.UserClassification==='distributor'" type="text"
                                    class="form-control" [(ngModel)]="product.orderCartons"
                                    (keydown)="allowOnlyNumbers($event)" inputmode="numeric" pattern="[0-9]*"
                                    maxlength="5" (focus)="onFocus(product, 'orderCartons')"
                                    (blur)="onCartonsInput($event, product)">
                                <small class="text-danger"
                                    *ngIf="product.orderCartons && (product.orderCartons < 5 || product.orderCartons % 5 !== 0)">
                                    Cartons must be at least 5 and in multiples of 5.
                                </small>
                            </div>

                        </td>

                        <td>{{ product.subtotal | currency:'USD' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-footer table-bordered">
            <h5>Total</h5>
            <h5>{{TotalAmount|currency:'USD'}}</h5>
        </div>
        <form #form="ngForm">
  <div class="form-check">
    <input
      class="form-check-input"
      name="isConfirmed"
      id="checkDefault"
      type="checkbox"
      required
      [(ngModel)]="isConfirmed"
      #confirmCheckbox="ngModel"
    />
    <label class="form-check-label" for="checkDefault">
      I have checked all quantities selected and am ready to order. *
    </label>

    <div *ngIf="!isConfirmed && showConfirmValidation" class="text-danger mt-1">
      Please confirm before proceeding.
    </div>
    
  </div>

  <button
    class="common-btn mt-4"
    type="button"
    (click)="goToConfirmation(form)"
    
  >
    <img src="assets/images/orange-arrow-right.png" alt="Arrow Right" class="img-fluid" />
    <p class="text-white m-0">Checkout</p>
  </button>
</form>


    </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <div class="info-modal-content">
                    <img [src]="selectedProductModal?.productBase64" width="200" alt="Pack">
                    <div class="package-info">
                        <h5>{{selectedProductModal?.productName}}</h5>
                        <p>{{selectedProductModal?.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>