<section class="tobacco-order">
    <div class="container">
        <h2>Place a New Order for Tobacco Products</h2>
        <p>Enter desired product orders in Order Cases or Order Cartons fields.</p>
        <div class="table-responsive">
            <table class="table table-bordered m-0">
            <thead>
                <tr>
                <th  width="40%">Product</th>
                <th  width="15%">$ Case / Carton</th>
                <th  width="10%">Order Cases</th>
                <th  width="15%">Order Cartons</th>
                <th  width="20%">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="table-featured-product">
                            <span>
                                <img src="assets/images/star.svg" alt="Star Icon">
                                <h4>FEATURE PRODUCT EXAMPLE</h4>
                            </span>
                            <img data-bs-toggle="modal" data-bs-target="#exampleModal" src="assets/images/info.svg" alt="Info Icon">
                            </div>
                    </td>
                    <td>$2,400.00 / $48.00</td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td>$4,800.00</td>
                </tr>
                <tr>
                    <td>
                        <div class="table-featured-product">
                            <span>
                                <h4>DK’S PREMIUM FULL FLAVOUR KS 20’S</h4>
                            </span>
                            <img data-bs-toggle="modal" data-bs-target="#exampleModal" src="assets/images/info.svg" alt="Info Icon">
                        </div>
                    </td>
                    <td>$2,400.00 / $48.00</td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class="table-featured-product">
                            <span>
                                <h4>DK’S PREMIUM FULL FLAVOUR KS 20’S</h4>
                            </span>
                            <img data-bs-toggle="modal" data-bs-target="#exampleModal" src="assets/images/info.svg" alt="Info Icon">
                        </div>
                    </td>
                    <td>$2,400.00 / $48.00</td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td>$96.00</td>
                </tr>
                <tr>
                    <td>
                        <div class="table-featured-product">
                            <span>
                                <h4>DK’S PREMIUM FULL FLAVOUR KS 20’S</h4>
                            </span>
                            <img data-bs-toggle="modal" data-bs-target="#exampleModal" src="assets/images/info.svg" alt="Info Icon">
                        </div>
                    </td>
                    <td>$2,400.00 / $48.00</td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class="table-featured-product">
                            <span>
                                <h4>DK’S PREMIUM FULL FLAVOUR KS 20’S</h4>
                            </span>
                            <img data-bs-toggle="modal" data-bs-target="#exampleModal" src="assets/images/info.svg" alt="Info Icon">
                        </div>
                    </td>
                    <td>$2,400.00 / $48.00</td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class="table-featured-product">
                            <span>
                                <h4>DK’S PREMIUM FULL FLAVOUR KS 20’S</h4>
                            </span>
                            <img data-bs-toggle="modal" data-bs-target="#exampleModal" src="assets/images/info.svg" alt="Info Icon">
                        </div>
                    </td>
                    <td>$2,400.00 / $48.00</td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class="table-featured-product">
                            <span>
                                <h4>DK’S PREMIUM FULL FLAVOUR KS 20’S</h4>
                            </span>
                            <img data-bs-toggle="modal" data-bs-target="#exampleModal" src="assets/images/info.svg" alt="Info Icon">
                        </div>
                    </td>
                    <td>$2,400.00 / $48.00</td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td>$2400.00</td>
                </tr>
                <tr>
                    <td>
                        <div class="table-featured-product">
                            <span>
                                <h4>DK’S PREMIUM FULL FLAVOUR KS 20’S</h4>
                            </span>
                            <img data-bs-toggle="modal" data-bs-target="#exampleModal" src="assets/images/info.svg" alt="Info Icon">
                        </div>
                    </td>
                    <td>$2,400.00 / $48.00</td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td>$96.00</td>
                </tr>
                <tr>
                    <td>
                        <div class="table-featured-product">
                            <span>
                                <h4>DK’S PREMIUM FULL FLAVOUR KS 20’S</h4>
                            </span>
                            <img data-bs-toggle="modal" data-bs-target="#exampleModal" src="assets/images/info.svg" alt="Info Icon">
                        </div>
                    </td>
                    <td>$2,400.00 / $48.00</td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class="table-featured-product">
                            <span>
                                <h4>DK’S PREMIUM FULL FLAVOUR KS 20’S</h4>
                            </span>
                            <img data-bs-toggle="modal" data-bs-target="#exampleModal" src="assets/images/info.svg" alt="Info Icon">
                        </div>
                    </td>
                    <td>$2,400.00 / $48.00</td>
                    <td><input type="text" class="form-control"></td>
                    <td><input type="text" class="form-control"></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="table-footer">
            <h5>Total</h5>
            <h5>$7,392.00</h5>
        </div>
        <form action="#">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                <label class="form-check-label" for="checkDefault">
                    I have checked all quantities selected I and am ready to order. *
                </label>
            </div>
            <a href="#" class="common-btn mt-4"><img src="assets/images/orange-arrow-right.png" alt="Arrow Right" class="img-fluid"><p class="text-white m-0">Checkout</p></a>
        </form>
    </div>
    </section>